.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.section-container {
  margin-top: 20px;
  padding: 20px;
  width: 80%;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-container h2 {
  margin-bottom: 10px;
}

.meeting-schedule,
.create-join-meeting,
.meeting-history {
  margin-top: 20px;
}

.create-join-meeting a {
  margin-right: 10px;
}
