/* Home.css */


.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  display: flex;
  justify-content: space-around; 
  margin-top: 20px;
  padding: 20px;
  width: 80%;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}


.box-container h2 {
  margin-bottom: 10px;
  text-align: center; 
}

.user-profile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile img {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  margin-bottom: 10px;
}

.user-profile h2 {
  margin-bottom: 5px;
}

.user-profile p {
  margin-bottom: 10px;
}

.chat,
.settings,
.help-support {
  margin-top: 20px;
}

.create-join-meeting a {
  margin-right: 10px;
}
